@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card" style="width: 18rem;">
    <img src="/images/basha.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Basha el balad</h5>
        <p class="card-text">3am el kon 3am el 3alam.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>